/BaiTapRenLuyen/nbproject/private/
/BaiTapRenLuyen/build/
/Bai2/nbproject/private/
/Bai2/build/
/BaiTrenLop/Ngay11_04_2018/nbproject/private/
/BaiTrenLop/Ngay11_04_2018/build/
/BaiLab_FPT/Lab_1/nbproject/private/
/BaiLab_FPT/LabCoBanMuc1/nbproject/private/
/BaiLab_FPT/LabCoBanMuc1/build/
/Bai3/nbproject/private/
/Bai3/build/
/TestSQL/nbproject/private/
/TestSQL/build/
/QuanLyBanHang/nbproject/private/
/QuanLyXe_BaiTH4/nbproject/private/
/QuanLyXe_BaiTH4/build/
/TestMD5/nbproject/private/
/TestMD5/build/